body, html {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 30px 20px;
}

h2, h3, h4 {
    text-align: center;
}

h2 {
    font-variant: small-caps;
    margin: 20px 20px;
}

h3, h4 {
    margin: 10px 20px;
}

p {
    max-width: 65ch;
    margin: 20px auto 10px;
    padding: 0 20px;
}

a {
    max-width: 65ch;
    margin: 20px auto 10px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    max-width: 65ch;
    margin: 0 auto;
}

li {
    margin-left: 20px;
}

li a {
    margin-left: 0;
    padding: 0;
    display: initial;
}

object {
    margin: 20px 24px;
    border: solid 1px darkgray;
    width: calc(100% - 50px);
    height: 40vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.team-section {
    border-top: 2px solid black;
    margin: 20px auto;
}

a.back {
    text-align: center;
}

.initial-ideation {
    /*border: 1px dashed black;*/
    margin: 0 20px;
}